@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.imageCarousel {
  .container {
    height: 60vh;
    width: 100%;
    position: relative;

    .row {
        @include ms-Grid-row;
        margin: 0;
        box-sizing: content-box;
        height: 100%;
        width: 100%;
    }

  }
}